
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.images{

}

.top{
    padding: 0px 100px;
    padding-bottom: 50px;
}

.image{
    padding: 50px 0px;
    width: 100%;
}

.col-6{
    width: 600px;
}

.card{
    border: none;
}

.mono-invisible{
    text-decoration: none;
    color: rgba(128, 128, 128, 0.456);
}

h3{
    padding: 10px 0px;
}

.comment{
    padding-top: 30px;
    padding-bottom: 130px;
}
/* 
input {
    padding-right: 100px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
  } */

  .butn{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
  }

  .form-control{
    background-color: rgb(237, 237, 237);
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
  }

  .input-group{
    display: flex !important;
    justify-content: center !important;
    margin: 0 auto;
    width: 350px;
    padding-top: 25px;
  }

  .row-bottom{
    background-color: rgb(237, 237, 237);
    padding: 100px 0px;
    margin: 70px 0px;
  }

  .col-button{
    display: flex;
    justify-content: center;
  }
  
  .btn-bottom{
    border-radius: 0px;
    padding: 10px 40px;
    margin-bottom: 20px;
  }